{% extends 'components/base.html' %}
{% block content %}
<title>{% block title %} {{ title1 }} {% endblock title %}</title>
<section class="dark:bg-principal mt-20">
    <div class="text-center" data-aos="fade-up" data-aos-delay="200">
        <div class="flex flex-col items-center justify-center">
            <span class="rounded-full bg-indigo-500 px-2 py-1 text-white uppercase text-sm">
                {{ title1 }}
            </span>
        </div>
        <h1 class="dark:text-white text-4xl text-center mt-6 font-light">
            {{ title2 }}
        </h1>
        <p class="dark:text-gray-400 text-center mt-6 text-lg font-light">
            Gestione sus líneas.
        </p>
    </div>
    <div class="m-4 lg:m-8 sm:mx-40 sm:my-2 lg:mx-20 lg:p-4 rounded-3xl overflow-x-auto"
        data-aos="fade-up" data-aos-delay="200">
        <table class="w-full text-center">
            <thead class="uppercase font-Tiny5 bg-gray-50 dark:bg-secundario dark:text-blue-300">
                <tr>
                    <th scope="col" class="px-8 py-4">Imagen</th>
                    <th scope="col" class="px-8 py-4">Descripción</th>
                    <th scope="col" class="px-8 py-4">Estado</th>
                    <th scope="col" class="px-8 py-4">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for item in line %}
                <tr class="dark:text-gray-400 bg-white border-b dark:bg-[#0b1121] dark:border-secundario hover:bg-gray-50 dark:hover:bg-[#121c33]">
                    <td class="px-8 py-6">
                        <img class="mx-auto w-20 h-20 object-contain rounded-2xl"
                             src="{% if item.image %}{{ item.image.url }}{% endif %}"
                             alt="Imagen del proveedor">
                    </td>
                    <td class="px-8 py-6">{{ item.description }}</td>
                    <td class="px-8 py-6">
                        {% if item.active %}
                        <i class="fa-solid fa-check text-green-500"></i>
                        {% else %}
                        <i class="fa-solid fa-square-minus text-red-500"></i>
                        {% endif %}
                    </td>
                    <td class="px-8 py-6">
                        <a href="{% url 'core:line_update' item.id %}"
                            class="bg-blue-700 hover:bg-blue-800 text-white py-2 px-4 rounded-full mr-2">
                            <i class="fa-solid fa-gear"></i>
                        </a>
                        <button class="bg-red-700 hover:bg-red-800 text-white py-2 px-4 rounded-full"
                            onclick="openDeleteModal('{{ item.id }}', '{{ item.description }}')">
                            <i class="fa-solid fa-trash"></i>
                        </button>
                        <noscript>
                            <a href="{% url 'core:line_delete' item.id %}"
                                class="bg-red-700 hover:bg-red-800 text-white py-2 px-4 rounded-full">
                                <i class="fa-solid fa-trash"></i>
                            </a>
                        </noscript>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="flex flex-col md:flex-row justify-center form-group text-center p-4">
        <a class="bg-blue-700 hover:bg-blue-800 text-white py-2 px-4 rounded-full mr-2 mb-2 md:mb-0 flex items-center justify-center"
            href="{% url 'core:line_create' %}">
            <i class="fa-solid fa-plus mr-2"></i> Nueva Línea
        </a>
        <a class="bg-blue-700 hover:bg-blue-800 text-white py-2 px-4 rounded-full flex items-center justify-center"
            href="{% url 'home' %}">
            <i class="fa-solid fa-house"></i>
        </a>
    </div>
</section>

{% include 'core/delete.html' %}
<script>
    function openDeleteModal(id, name) {
        const deleteForm = document.getElementById('deleteForm');
        deleteForm.action = `{% url 'core:line_delete' 0 %}`.replace('0', id);
        document.getElementById('Description').textContent = `ID: ${id} - ${name}`;
        document.getElementById('deleteModal').classList.remove('hidden');
    }

    function closeModal() {
        document.getElementById('deleteModal').classList.add('hidden');
    }
</script>
{% endblock %}
